.contacts__register {
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;

    .contacts__map {
        place-self: center;
        margin-bottom: 20px;
    }


    .contacts__register_inner_container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        .contacts__main-info {

            flex: 1 1 40%;
            text-align: left;

            .contacts__title {
                color: var(--text-color);
                font-family: cursive;
                font-size: 38px;
                padding-left: 10px;
                margin-left: -70px;
            }

            .contacts__description-subtitle {
                color: #CCCCCC;
                font-family: "Noto Sans", sans-serif;
                font-size: 19px;
                padding-top: 10px;
                padding-left: 10px;
                margin-left: -70px;
            }

            .contacts__description {
                color: #CCCCCC;
                font-family: "Noto Sans", sans-serif;
                font-size: 16px;
                padding-top: 10px;
                padding-left: 10px;
                margin-left: -70px;
            }

            .contacts__data {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                padding: 10px;
                place-self: left;
                margin-top: 10px;
                margin-left: -70px;

                .contacts__icon {
                    width: 26px;
                }

                .contacts__label-container {


                    .contacts__label {
                        font-size: 12px;
                        font-family: "Noto Sans", sans-serif;
                        color: #FF7433;
                        text-transform: uppercase;
                    }

                    .contacts__data-description {
                        color: #cccccc;
                        font-size: 16px;
                        font-family: "Noto Sans", sans-serif;
                    }
                }
            }

            .contacts__radio-link {
                margin-top: 15px;
                place-self: left;
                margin-left: -70px;

                .contacts__radio-link--active {
                    padding-top: 24px;
                    color: white;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }


        }

        .contacts__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #2b2b48;
            flex: 1 1 40%;
            max-width: 500px;
            padding-top: 25px;
            padding-bottom: 25px;
            margin-left: 100px;
            margin-right: -100px;

            .contacts__fieldset {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border: none;
                width: 100%;
                max-width: 600px;
                margin-top: 15px;


                .contacts__input {
                    display: flex;
                    flex-direction: column;

                    [type='text'] {
                        background-color: #25253d;
                        padding: 10px;
                    }

                    textarea {
                        background-color: #25253d;
                        padding: 20px;
                    }

                    input,
                    textarea {
                        padding: 15px, 15px;
                        border-radius: 0.75rem;
                        border: none;
                        font-family: "Noto Sans", sans-serif;
                        font-size: 1rem;
                    }
                }

                .contacts__button {
                    align-self: center;
                    padding: 10px 125px;
                    border-radius: 1rem;
                    background-color: var(--button-background-color);
                    color: white;
                    font-size: 1rem;
                    font-weight: bold;
                    cursor: pointer;
                    border: none;

                    &:hover {
                        background-color: #6a00fc;
                    }
                }
            }

        }
    }
}