/*
  Global Base Styles
  ------------------

  ✅ Підключення шрифтів та кольору тексту:
     - 'Noto Sans' — основний шрифт для тексту
     - 'Righteous' — декоративний шрифт для заголовків
     - 'white' — основний колір шрифта

  ✅ Стартовий Reset:
     - Обнуляє margin та padding для всіх елементів і псевдоелементів
     - Встановлює box-sizing: border-box для передбачуваного розміру блоків

  ✅ Додаткові базові стилі:
     - Плавний скрол (scroll-behavior: smooth) для якорів
     - Видалення стандартних маркерів у списках (ul, ol)
     - Відключення підкреслення у посиланнях + спадкування кольору
     - Зображення завжди адаптивні, не виходять за межі контейнера

  ✅ Статичний фон усіх сторінок

     !!!!!  Усі, хто додає нові CSS-властивості, обов’язково залишайте коментар:
          - Що саме робить ця властивість
          - Навіщо вона потрібна (особливо, якщо це щось неочевидне)
     !!!!!
*/

/* Підключення шрифтів: Righteous, NotoSans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap");

/* Стартовий Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Плавні анімації по замовчуванню */
html {
  scroll-behavior: smooth;
}

/* Видалити спискові стилі */
ul,
ol {
  list-style: none;
}

/* Видалити підкреслення з посилань */
a {
  text-decoration: none;
  color: inherit;
}

/* Зображення адаптивні */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*статичний bagground який однаковий для всіх сторінок*/
body {
  margin: 0;
  background-color: rgba(26, 26, 41, 1);
  background-image: linear-gradient(rgba(26, 26, 41, 0.9),
      rgba(26, 26, 41, 0.9)),
    url("../img/bg-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* основний колір та шрифт */
body {
  color: #fff;
  /* або white */
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --title-color: white;
  --text-color: #DBDBDB;
  --border-color: #31323f;
  --button-color: white;
  --button-background-color: #7f00fc;
}