/*
  Global Base Styles
  ------------------

  ✅ Підключення шрифтів та кольору тексту:
     - 'Noto Sans' — основний шрифт для тексту
     - 'Righteous' — декоративний шрифт для заголовків
     - 'white' — основний колір шрифта

     від Олександр Брайко
     Зауважу, що не всюди текст білий. Білий у заголовках, тіло тексту
     буває кольору #cccccc. Дивіться уважно на оріджин.

  ✅ Стартовий Reset:
     - Обнуляє margin та padding для всіх елементів і псевдоелементів
     - Встановлює box-sizing: border-box для передбачуваного розміру блоків

  ✅ Додаткові базові стилі:
     - Плавний скрол (scroll-behavior: smooth) для якорів
     - Видалення стандартних маркерів у списках (ul, ol)
     - Відключення підкреслення у посиланнях + спадкування кольору
     - Зображення завжди адаптивні, не виходять за межі контейнера

  ✅ Статичний фон усіх сторінок

     !!!!!  Усі, хто додає нові CSS-властивості, обов’язково залишайте коментар:
          - Що саме робить ця властивість
          - Навіщо вона потрібна (особливо, якщо це щось неочевидне)
     !!!!!
*/

/* Підключення шрифтів: Righteous, NotoSans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap");

/* Стартовий Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  Олександр Брайко:
  Додав змінних для акцентних кольорів
  зірки, слеши, кольори іконок, і т.д.
*/
:root {
  --accent-color-one:#e100ff;
  --accent-color-two:#7f00ff;
  --accent-color-three:#FF7433;
  --accent-color-four:#4858F9;

  --text-title-color:#ffffff;
  --text-general-color:#cccccc;

  --text-color-title:#ffffff;
  --text-color-primary:#dbdbdb, rgb(219,219,219);
  --text-color-secondary:#cccccc;

  --title-color: white;
  --text-color: #DBDBDB;

  --font-title: 'Righteous', sans-serif;
  --font-regular: 'Noto Sans', sans-serif;

  --icon-bg-normal-color:#9500FF;
  --icon-bg-hover-color:#B230FF;

  --footer-bg-color:#151622;

  --border-color: #31323f;
  --button-color: white;
  --button-background-color: #7f00fc;

}

/* Плавні анімації по замовчуванню */
html {
  scroll-behavior: smooth;
}

/* Видалити спискові стилі */
ul,
ol {
  list-style: none;
}

/* Видалити підкреслення з посилань */
a {
  text-decoration: none;
  color: inherit;
}

/* Зображення адаптивні */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*статичний background який однаковий для всіх сторінок*/
body {
  background-color: rgba(26, 26, 41, 1);
  background-image: linear-gradient(rgba(26, 26, 41, 0.9),
      rgba(26, 26, 41, 0.9)),
    url("../img/bg-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*-----------------------------------------------------*/
  color: #ffffff;
  font-family: var(--font-regular);
}

/* клас який обмежує ширину контентної частини*/
.content-container{
  max-width: 1200px;
}