.features-with-icon {
  /* Контейнер фіч-блоку */
  display: grid;
  grid-template-columns: 1fr;
  border-top: 2px solid rgb(43, 43, 56);
  width: 272px;
  margin: auto;
  margin-top: 50px;
  gap: 40px; 
}


.features-with-icon__item {
  /* Окрема фіча-картка */
  display: flex;
  flex-direction: column;
  max-width: 302px;
  min-height: 205px;
  justify-content: space-between;
}

.features-with-icon__item:first-child{
  margin-top: 70px;
}
.features-with-icon__image-wrapper {
  /* Кругла рамка навколо іконки */
  width: 70px;
  height: 70px;
  background-color: rgb(43, 43, 72);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-with-icon__image {
  /* Зображення-іконка всередині кружечка */
  width: 40px;
}

.features-with-icon__title {
  /* Заголовок кожної фічі */
  font-size: 22px;
  font-weight: 600;
}

.features-with-icon__title-underline {
  /* Кольорова підкреслююча лінія */
  display: block;
  width: 40px;
  height: 4px;
  margin-top: 4px;
}

.features-with-icon__title-underline--web-mobile {
  /* унікальний колір лінії */
  background-color: rgb(225, 0, 255);
}

.features-with-icon__title-underline--best-music {
  /* унікальний колір лінії */
  background-color: rgb(255, 116, 51);
}

.features-with-icon__title-underline--interesting-podcasts {
  /* унікальний колір лінії */
  background-color: rgb(127, 0, 255);
}

.features-with-icon__title-underline--fantastic-hosts {
  /* унікальний колір лінії */
  background-color: rgb(72, 88, 249);
}

.features-with-icon__description {
  /* Короткий опис фічі */
  color: rgb(204, 204, 204);
  line-height: 24px;
}
