/*  by Oleksandr Braiko */

.popular-artists__container {
    max-width: 1170px;
    margin: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;

    .popular-artists__title {
        font-family: var(--font-title);
        font-size: 38px;
        color: var(--text-title-color);
    }

    .popular-artists__divider {
        margin: 0;
    }

    .popular-artists__carousel {
        margin: 50px 0 0 0;
        padding: 0 20px 0 20px;
        display: flex;

        .popular-artists__carousel__list {
            list-style: none;
            align-items: center;
            justify-content: space-around;
            display: grid;
            gap: 0;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

            .popular-artists__carousel__item {
                padding: 0 15px 0 15px;
                margin: 0;
                display: inline-block;
                min-width: 260px;

                .item__image-block {

                    .item__image {
                        object-fit: cover;
                        aspect-ratio: 1;
                        width: 100%;
                        display: inline-block;
                    }
                }

                .item__info {

                    .item__info__name {
                        margin: 20px 0 0 0;
                        font-size: 24px;
                        color: var(--text-title-color);
                    }

                    .item__info__line {
                        display: block;
                        width: 37px;
                        height: 34px;

                        .line-one {
                            position: relative;
                            top: 15px;
                            height: 4px;
                            background-color: var(--accent-color-one);
                        }

                        .line-two {
                            position: relative;
                            top: 15px;
                            height: 4px;
                            background-color: var(--accent-color-two);
                        }

                        .line-three {
                            position: relative;
                            top: 15px;
                            height: 4px;
                            background-color: var(--accent-color-three);
                        }

                        .line-four {
                            position: relative;
                            top: 15px;
                            height: 4px;
                            background-color: var(--accent-color-four);
                        }

                    }

                    .item__info__location {
                        height: 34px;
                        font-size: 16px;
                        color: var(--text-general-color);
                    }
                }
            }
        }
    }
}