.testimonials {
  .testimonials__header-text {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 70px;

    .testimonials__intro {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .testimonials__star {
        font-size: 38px;
        color: orangered;
        margin-left: 0;
      }

      .testimonials__title {
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 10px;
        color: var(--text-color);
        font-family: "Noto Sans", sans-serif;
        margin-left: 0;
      }
    }

    @media (max-width: 780px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      padding: 0 15px;
    }

    .testimonials__description {
      font-size: 18px;
      color: var(--text-title-color);
      font-weight: bold;
      padding: 0 10px 0 10px;
      font-family: "Noto Sans", sans-serif;
    }
  }

  .testimonials__border-line {
    border: 1px solid var(--border-color);
    margin: 15px 70px;
  }

  .testimonials__list {
    display: grid;

    @media (min-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .testimonial__info {
      margin-left: auto;
      margin-right: auto;
      max-width: 65%;

      display: flex;
      gap: 1rem;
      align-items: flex-start;
      margin-bottom: 2rem;

      .testimonial__avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
      }

      .testimonial__content {
        display: flex;
        flex-direction: column;

        .testimonial__text {
          font-family: "Noto Sans", sans-serif;
          color: var(--text-color);
          margin-bottom: 0.5rem;
        }

        .testimonial__author {
          text-transform: uppercase;
          font-weight: bold;
          font-family: "Noto Sans", sans-serif;
          font-size: 12px;
          align-self: flex-start;
        }
      }
    }
  }
}
