/*  by Yana Baidatska */
.news__label {
    font: var(--font-regular);
    text-transform: uppercase;
    font-size: inherit;
    font-weight: 700;
    color: var(--text-general-color);
}

.news__item {
    display: flex;
    flex-direction: column;
}

.news__title {
    font: var(--font-title);
    font-weight: 400;
    font-size: inherit;
    color: var(--title-color);
}

.news__subtitle {
    font: var(--font-regular);
    font-weight: 500;
    color: var(--text-general-color);
}

.news__meta {
    font: var(--font-regular);
    font-weight: 700;
    font-size: 12px;
    color: var(--accent-color-three);
}

.news__headline {
    font: var(--font-regular);
    font-weight: 600;
    font-size: 23px;
    color: var(--text-title-color);
}

.news__excerpt {
    font: var(--font-regular);
    font-weight: 400;
    font-size: 16px;
    color: var(--text-general-color);
}

.news__link {
    font: var(--font-regular);
    font-weight: 700;
    color: var(--title-color);
}

.news__link:hover {
    text-decoration: underline;
    color: #fe226a;
}
