<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Podcasts</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./css/podcasts.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
    <header>
    <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.nav.partial.html"></nav>
</header>
<main>
    <!-- Maksym Oleksiv -->
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="podcasts.podcast-blocks.partial.html"
    ></section>
    <!-- Maksym Oleksiv -->

    <!--Andrii Kovalyk-->
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="podcasts.radio-app.partial.html"
    ></section>
    <!--Andrii Kovalyk-->

    <!-- Oleksandr Braiko -->
    <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="podcasts.podcasts-about.partial.html"
    ></section>
    <!-- Oleksandr Braiko -->
</main>
<!-- Oleksandr Braiko -->
    <footer>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></section>
    </footer>
    <!-- Oleksandr Braiko -->
  </body>
</html>
